<div class="Landing">
  <div class="container">
    <div class="header">
      <h1>Elevate Your Mealtime with <br />AI-Powered Personalization</h1>
      <p>Effortless Planning, Healthier Eating</p>
    </div>
    <div class="body">
      <div class="left">
        <h1>95%</h1>
        <p>Improved Eating Habits</p>
        <img src="landing/1.jpg" alt="" />
      </div>

      <div class="center">
        <div class="left-img">
          <img src="landing/2.jpg" alt="" />
        </div>
        <div class="content">
          <div class="try">Try Our Demo</div>
          <div class="start">Start For Free</div>
          <div class="happy">30 000 + <br /><span>Happy Users</span></div>
        </div>
        <div class="right-img">
          <img src="landing/3.jpg" alt="" />
          <h1>25%</h1>
          <p>Saved on Groceries</p>
        </div>
      </div>
      <div class="right">
        <img src="landing/4.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="sq"></div>
</div>
